/* Import Inter font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #a2cffe;
  color: #000000;
  line-height: 1.6;
}
h1 {
  text-align: center;
  padding: 20px;
}
p {
  margin-bottom: 40px; /* space between sections */
  padding: 20px; /* inner space within section */
  background-color: antiquewhite;
  border-radius: 20px;
}

ul {
  margin-bottom: 40px; /* space between sections */
  padding: 20px; /* inner space within section */
}
